.title{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 224px;
    top: 104px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;

}
.editService{
    position: absolute;
    width: 1152px;
    height: 622px;
    left: 224px;
    top: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.editService_body{
    height: 550px;
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    padding:16px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.editService_body>a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7E7D88;
}
.service_footer{
    height: 48px;
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.service_footer>button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    width: 162px;
    height: 100%;
    cursor: pointer;
    border-color: #FF9138;
}
.body_title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}
.body_col{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.body_col>div{
    width: 540px;
    height: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.body_buttom,
.body_row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.type_input,
.body_row>textarea,
.body_row>input{
    height: 40px;
    background: #FFFFFF; 
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A9A9B0;
    padding-left: 10px;
}
.type_input{
    width: 51px;
}
.type_checkbox{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1.5px solid #4277FF ;
    border-radius: 4px;
}
.body_row>textarea{
    resize:none;
    height: 130px;
}
.body_row>label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.checkbox{
    display: flex;
    flex-direction: column;
    grid-gap:10px;

}
.checkbox>div{
    display: flex;
    grid-gap:10px;
    align-items: center;
}
