.navBar{
    display: flex;
}
.vertical-menu {
    width: 250px;
    height: 710px;
    background-color: #ffffff;
  }

  .menu-main>div {
    display: flex ;
    align-items: center;
    padding-left: 16px;
  }
  .menu-main>:last-child {
    margin-top: 120px;
  }
  .menu-main>div>a {
    font-size: 16px;
    color: black; /* Black text color */
    padding: 12px 0px 12px 12px; 
    text-decoration: none; /* Remove underline from links */
  }
  .menu-main>div:hover {
    background-color: #FF7506; 
    
  }
  .menu-main>div>a:hover{
    color: white;
  }
  .menu-main>div>img {
    width: 20px;
    height: 20px;
  }
  .menu-logo{
    display: flex ;
    justify-content: center ;
    align-items: center;
    height: 128px;

  }
  .menu-logo>div{
    background-image: url("../../assets/Logo\ alta.png");
    width: 80px;
    height: 64px;
    color: white;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .topnav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 30px 64px 0 0;
  }
  
  .topnav a {
    color: rgb(255, 183, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    float: left;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
.information {
    display: flex;
    gap: 24px;
  }
.information_text{
    display: flex;
    gap: 8px;
}
.information_text>div>p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    margin: 0;
}
.information_text>div>p:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7E7D88;
}