.title{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 224px;
    top: 104px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;

}
.addAccount{
    position: absolute;
    width: 1152px;
    height: 622px;
    left: 224px;
    top: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.addAccount_body{
    height: 550px;
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    padding:0 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.addAccount_body>a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7E7D88;
}
.addAccount_footer{
    height: 48px;
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.addAccount_footer>button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    width: 162px;
    height: 100%;
    cursor: pointer;
    border-color: #FF9138;
}
.body_title{
    padding: 16px ;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}
.body_col{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.body_col>div{
    width: 540px;
    height: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.body_row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input,
.body_row>input{
    
    height: 44px;
    background: #FFFFFF; 
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A9A9B0;
    padding-left: 20px;
}
.body_row>label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.gird_input{
    position: relative;
    display: flex;
    flex-direction: row;
}.input{
    width:516px;
    display: flex;
    flex-direction: row;
}
.eye{
    width: 22px;
    height: 19px;
    padding: 13px;
    right: 10px;
    position: absolute;
}
.item>div{  

    background-color: #ffffff;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}